h1 {
    color:purple;
    font-size:100px;
}

body {
    text-align: center;
    
    background-image: url("../images/background.jpg");
}

.container {
    border: 1px solid black;
    color:white;
    background: black;
    opacity:0.8;
    margin-bottom: 10px;
    background-image: url("../images/background3.jpg");
    
}

.row {
    margin-bottom:20px;
}

#topSpace {
    margin-top:5%;
}

.blur {
    -webkit-box-shadow: 0px 0px 28px 19px rgba(112,58,255,0.69); 
    box-shadow: 0px 0px 28px 19px rgba(112,58,255,0.69);
   
    }

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}



@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  